.image{
    position:relative;
    width: auto;
    display: table;
}
.image .play{
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    cursor: pointer;
    opacity: 0;
    font-size: 50px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.image:hover .play{
    opacity: 1;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.image img{
    opacity:1;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.image:hover img{
    opacity:0.5;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.player {
    margin: 10px 20px;
}
.player.deactivate {
    opacity: 0.5;
}

.navbar-nav{
    margin: 4px 8px;
}

.channel-details .info {
    display: block;
    float: left;
    width: 160px;
    line-height: 1.4;
}