<div class="row">

    <div class="col-md-4">
        <div class="channel-details">
            <h3><span class="label label-default">{{channel.name}}</span></h3>
            <img alt="Top Hits" height="70" src="http://api.audioaddict.com/v1/assets/image/a9778d4dec931485c25f5ac182ac71e2.jpg?size=70x70&amp;quality=90" width="70">
            <span class="info">
                <span class="description">Who cares about the chart order, less rap &amp; more hits!</span>
            </span>
        </div>
    </div>
    <!-- Dummy data-->
    <div class="col-md-7">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Duration</th>
                <th>Popularity</th>
                <th>Album</th>
                <th>Listen</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#" class="glyphicon glyphicon-thumbs-up"></a></td>
                <td>The cinema show</td>
                <td>Genesis</td>
                <td>10.58</td>
                <td>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                    <i href="#" class="glyphicon glyphicon-star"></i>

                </td>
                <td>Seconds Out</td>
                <td><img alt="Listen on Spotify" height="20" src="http://www.shane.es/images/spt.png" width="20"></td>
            </tr>
            <tr>
                <td><a href="#" class="glyphicon glyphicon-thumbs-up"></a></td>
                <td>Under pressure</td>
                <td>Queen</td>
                <td>4.08</td>
                <td>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                </td>
                <td>Jazz</td>
                <td><img alt="Listen on Spotify" height="20" src="http://www.shane.es/images/spt.png" width="20"></td>
            </tr>
            <tr>
                <td><a href="#" class="glyphicon glyphicon-thumbs-up"></a></td>
                <td>Roxanne</td>
                <td>The Police</td>
                <td>3.09</td>
                <td>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                    <i href="#" class="glyphicon glyphicon-star"></i>
                </td>
                <td>The very best</td>
                <td><img alt="Listen on Spotify" height="20" src="http://www.shane.es/images/spt.png" width="20"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Dummy data -->
</div>