<ul>
    {{#each channels}}
        <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="image thumbnail">
                    <a>
                        <img src="http://api.audioaddict.com/v1/assets/image/ea944543ab6247d58e1703d84e451e4f.jpg?size=178x178&amp;quality=90"
                             alt="{{this.name}}">

                        <p>{{this.name}}</p>
                    </a>
                    <i class="glyphicon glyphicon-play-circle play" data-id="{{this.id}}" data-stream="{{this.stream.url}}" data-name="{{this.name}}"></i>
                    <p>{{this.description}}</p>
            </div>
        </div>
    {{/each}}
</ul>
